<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Proyectos</title>

<link rel="stylesheet" href="../style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/a2d9d6a64b.js" crossorigin="anonymous"></script>

</head>

<body>

<nav>

    <div class="logo">ALEX</div>

    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="aboutme.html">Sobre mí</a></li>
        <li><a href="">Proyectos</a></li>
        <li><a href="contacto.html">Contáctame</a></li>
    </ul>

</nav>

<section class="project project-gradient" id="inicio">

    <div class="project-text">

        <h2>Tierra Nueva.</h2>

        <p>
            Proyecto artístico centrado en la danza folklórica ecuatoriana, 
            donde actúo como director y responsable de la coordinación, coreografía y 
            ensayos. Este proyceto busca preservar la cultura y adaptarla a una puesta en escena 
            actual. Gracias a ello he fortalecido mis habilidades de liderazgo, creatividad, organización y 
            trabajo en equipo, transformando la danza en una experiencia cultural y 
            expresiva.

        </p>

        <a href="https://www.instagram.com/gdtierranueva/" target="_blank">
            Ver proyecto
        </a>

    </div>

    <div class="project-image">
        <img src="../img/logoCTN.JPG" alt="">
    </div>

</section>

<section class="project reverse project-gradient-2">

    <div class="project-text">

        <h2>Eat&Go.</h2>

        <p>
            Idea de negocio basada en la preparación y distribución de comida casera en tuppers, 
            enfocada en ofrecer una alternativa saludable, práctica y accesible para el día a día. 
            El proyecto abarca desde el desarrollo de la propuesta gastronómica hasta la 
            planificación del modelo de negocio, la organización operativa y la estrategia de mercado. 
            Me ha permitido desarrollar habilidades en emprendimiento, planificación empresarial, gestión de 
            recursos, creatividad y análisis de mercado.
        </p>

        <a href="#">
            Ver proyecto
        </a>

    </div>

    <div class="project-image">
        <img src="../img/Eat&gologo.jpeg" alt="">
    </div>

</section>

<a href="#inicio" class="top-btn">
    <i class="fas fa-arrow-up"></i>
</a>

<script src="../script.js"></script>

</body>
</html>